<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/ME1.png" alt="Vaidansh" class="img-fluid" title="Sunshine">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_clr">Web Developer</span></h1>
                        <a href="https://www.linkedin.com/in/vaidansh-kukreja-996274194/" target="_blank"><button>About
                                me</button></a>

                    </div>
                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>

    <!-- Footer Code -->
    {{>footer}}
</body>

</html>